{% extends 'base.html' %} 
{% load static %}
{% block title %}Django Delights{% endblock %}

{% block content %}
<div id="ingredients" class="container">
    <br><br>
    <h3>Ingredients</h3>
    <table id="inventory-table" class="table">
        <thead><tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Unit Price</th>
        </tr></thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.price_per_unit|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>

<div id="menuitems" class="container">
    <br><br>
    <h3>MenuItems</h3>
    <table id="menuitem-table" class="table">
        <thead><tr>
            <th>Title</th>
            <th>Price</th>
        </tr></thead>
        <tbody>
            {% for item in menu_items %}
            <tr>
                <td>{{ item.title }}</td>
                <td class="price">${{ item.price|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>

<div id="purchases" class="container">
    <br><br>
    <h3>Purchases</h3>
    <table id="purchase-table" class="table">
        <thead><tr>
            <th>Title</th>
            <th>Price</th>
        </tr></thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.menu_item }}</td>
                <td>{{ purchase.timestamp|date:"Y-m-d H:i:s" }}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>
{% endblock %}