{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div id="ingredients" class="container"></div>
    <br><br>
    <h3>Ingredients</h3>
    <table id="inventory-table" class="table">
        <thead><tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Unit Price</th>
        </tr></thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.price_per_unit|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>
{% endblock %}