{% load static %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  <title>{% block title %}Django Delights{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="app container">
  <header>
    <br>
    <div class="row align-items-end">
      <div class="col"><h1 class="title">Django Delights</h1></div>
      {% if user.is_authenticated %}
      <div class="col"><p>Hi, {{ user.username }}! <a class="logout btn btn-primary" href="/logout">Logout</a></p></div>
      {% endif %}
    </div>
    <br>
    {% if user.is_authenticated %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'ingrdient' %}active{% endif %}" href="{% url 'ingredients' %}">Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'menuitem' %}active{% endif %}" href="{% url 'menuitem' %}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'purchase' %}active{% endif %}" href="{% url 'purchases' %}">Purchases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'report' %}active{% endif %}" href="{% url 'reports' %}">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
      </ul>
    {% endif %}
    </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  </div>
</body>
</html>